.contact-ul{
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

.social-network{
    font-size: 35px;
    margin-left: 37px;
}

.social-network:hover{
    cursor: pointer;
}

.profile{
    font-family: Arial;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 30px;
    padding-top: 10px;
    border-radius: 2px;
    margin: 10px;
}

.profile_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
    
}

.name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.call{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: yellow;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 15px;
}
.social-network-support{
    font-size: 30px;
}
.support-profile{
    display: flex;
}
